[submodule "BugBountyChecklist-Chrome-Extension"]
	path = BugBountyChecklist-Chrome-Extension
	url = https://github.com/thisisdarkstar/BugBountyChecklist-Chrome-Extension.git
[submodule "SubHunter-Chrome-Extension"]
	path = SubHunter-Chrome-Extension
	url = https://github.com/thisisdarkstar/SubHunter-Chrome-Extension.git
[submodule "Terminal-New-Tab-Extension-for-chrome"]
	path = Terminal-New-Tab-Extension-for-chrome
	url = https://github.com/thisisdarkstar/Terminal-New-Tab-Extension-for-chrome.git
[submodule "LinkHawk"]
	path = LinkHawk
	url = https://github.com/thisisdarkstar/LinkHawk.git
